@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


:root{
  --main-color:#31b572;
  --second-color:#7451eb;
  --white-color:white;
  --black-color:#000;
  --debeug:tomato;

  --item-name:var(--main-color);
  --item-price:var(--black-color);
  
  --body-font-size:1.2rem;
  --body-font-family:'Josefin Sans';

  --radius:10px;
}


/* UTILS */
body{
  margin:0;
  padding:0;
  font-family: var(--body-font-family);
  font-size:var(--body-font-size);
  color:var(--black-color)
}

.core{
  width:100%;
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: space-between; */
  align-items: center;
  min-height:100vh;

}

a {
  text-decoration: none;
  color:unset
}

.debeug{
  outline:2px dashed tomato
} 

.debeug-alt{
  color:blue
}

.hidden{
  visibility: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.extra-link{
  
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding:0.5rem 1rem;
  margin-inline:2rem;
}

.btn-go{
  font-size: 1rem;
  color:var(--white-color);
  background:var(--second-color);
  border:none;
  border-radius:var(--radius);
}

input{
  padding-inline:8px;
  margin-left:1rem;
  margin-block:3rem;
  font-size:1rem;
  line-height: 1.75rem;
  color:var(--second-color);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-banner{

  background:var(--main-color);
  padding:2rem;
  text-align: center;
  color:var(--white);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
