
.cart{
  --border:2px;
  --border-color:var(--white-color);
  width: 30%;
  height: fit-content;
  padding:1.75rem;
  align-self: flex-start;
  border-top: var(--border) solid var(--border-color);
  border-bottom:var(--border) solid var(--border-color);
  border-right: var(--border) solid var(--border-color);
  border-radius: 0 0 10px 0;
  background-color: var(--white-color);
  transition: all 0.5s ease-in-out;
  position: fixed;
  left:-32.5%;
  top: 19vh;
  z-index:666;
  box-shadow: 0 0 2px rgba(0,0,0,.55);
  transition: all 0.22s ease-in-out;
}

.cart.open{
  left:0%;
  cursor:pointer;
}

.cart::after{
  --border-color:var(--black-color);
  --sizes:60px;
  content:'🛒';
  display: flex;
  justify-content: center;
  align-items: center;
  width:var(--sizes);
  height:var(--sizes);
  position: absolute;
  top: calc((-1) * var(--border));
  right: -45px;
  color:var(--white-color);
  background-color: var(--main-color);
  border:var(--border)solid var(--border-color);
  border-radius: 0 0 12px 0;
}

.cart > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item-price{
  color:var(--item-price)
}

.item-name{
  color:var(--item-name);
}

.total-price{
  margin-top:1rem;
  padding:.55rem;
  font-size: 1.2rem;
  font-weight: bold;
  color:var(--second-color);
  text-align: center;
  background: yellow;
}
