

li:has(>.hidden,>.category) {
  list-style-type: none;
  position: relative;
  margin-block:.75rem;
  color:var(--main-color);
  font-weight: bold;
  font-size:1.2rem;
  cursor: pointer;
}

li >.category {
  --op:0;
  position: absolute;
  right: -80%;
  top: -35px;
  width:fit-content;
  padding: 4px 5px;
  font-weight: 400;
  background: black;
  opacity: var(--op);
  color:var(--white-color);
  border-radius: var(--radius);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

li:hover > .category {
  --op:1;
  top: -15px;
}